# Database Connection (MongoDB Atlas)
MONGO_URI=your_mongo_uri

# JWT Authentication
JWT_SECRET=your_super_secret_jwt_key_here

# Cloudinary Credentials (For Blog Image Uploads)
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret